In [6]:
import pandas as pd

In [7]:
df=pd.read_csv('ETC-USDT.csv')
df

                date     open     high      low    close    volume
0      1528768800000  16.2000  16.3000  15.3600  15.5300  22867.56
1      1528772400000  15.5288  16.7999  15.0386  15.2300  48398.68
2      1528776000000  15.2300  15.7515  15.2000  15.6002  31377.59
3      1528779600000  15.6002  16.3000  15.6002  16.1502  50812.82
4      1528783200000  16.2498  16.3000  15.5068  15.6833  48870.17
...              ...      ...      ...      ...      ...       ...
44264  1688364000000  20.2700  20.3100  20.1100  20.1800  54281.30
44265  1688367600000  20.1700  20.4400  20.1300  20.3400  45591.55
44266  1688371200000  20.3500  20.3600  20.0600  20.1500  84611.72
44267  1688374800000  20.1400  20.2200  20.0800  20.1100  37127.67
44268  1688378400000  20.1000  20.1400  20.1000  20.1300   3382.25

[44269 rows x 6 columns]

In [8]:
df["date"]= pd.to_datetime(df["date"], unit="ms")
df

                     date     open     high      low    close    volume
0     2018-06-12 02:00:00  16.2000  16.3000  15.3600  15.5300  22867.56
1     2018-06-12 03:00:00  15.5288  16.7999  15.0386  15.2300  48398.68
2     2018-06-12 04:00:00  15.2300  15.7515  15.2000  15.6002  31377.59
3     2018-06-12 05:00:00  15.6002  16.3000  15.6002  16.1502  50812.82
4     2018-06-12 06:00:00  16.2498  16.3000  15.5068  15.6833  48870.17
...                   ...      ...      ...      ...      ...       ...
44264 2023-07-03 06:00:00  20.2700  20.3100  20.1100  20.1800  54281.30
44265 2023-07-03 07:00:00  20.1700  20.4400  20.1300  20.3400  45591.55
44266 2023-07-03 08:00:00  20.3500  20.3600  20.0600  20.1500  84611.72
44267 2023-07-03 09:00:00  20.1400  20.2200  20.0800  20.1100  37127.67
44268 2023-07-03 10:00:00  20.1000  20.1400  20.1000  20.1300   3382.25

[44269 rows x 6 columns]

In [9]:
df = df.set_index(df["date"])
del df["date"]
df

                        open     high      low    close    volume
date
2018-06-12 02:00:00  16.2000  16.3000  15.3600  15.5300  22867.56
2018-06-12 03:00:00  15.5288  16.7999  15.0386  15.2300  48398.68
2018-06-12 04:00:00  15.2300  15.7515  15.2000  15.6002  31377.59
2018-06-12 05:00:00  15.6002  16.3000  15.6002  16.1502  50812.82
2018-06-12 06:00:00  16.2498  16.3000  15.5068  15.6833  48870.17
...                      ...      ...      ...      ...       ...
2023-07-03 06:00:00  20.2700  20.3100  20.1100  20.1800  54281.30
2023-07-03 07:00:00  20.1700  20.4400  20.1300  20.3400  45591.55
2023-07-03 08:00:00  20.3500  20.3600  20.0600  20.1500  84611.72
2023-07-03 09:00:00  20.1400  20.2200  20.0800  20.1100  37127.67
2023-07-03 10:00:00  20.1000  20.1400  20.1000  20.1300   3382.25

[44269 rows x 5 columns]

In [10]:
df["Ma 100"]=df["close"].rolling(100).mean()
df

                        open     high      low    close    volume   Ma 100
date
2018-06-12 02:00:00  16.2000  16.3000  15.3600  15.5300  22867.56      NaN
2018-06-12 03:00:00  15.5288  16.7999  15.0386  15.2300  48398.68      NaN
2018-06-12 04:00:00  15.2300  15.7515  15.2000  15.6002  31377.59      NaN
2018-06-12 05:00:00  15.6002  16.3000  15.6002  16.1502  50812.82      NaN
2018-06-12 06:00:00  16.2498  16.3000  15.5068  15.6833  48870.17      NaN
...                      ...      ...      ...      ...       ...      ...
2023-07-03 06:00:00  20.2700  20.3100  20.1100  20.1800  54281.30  19.9350
2023-07-03 07:00:00  20.1700  20.4400  20.1300  20.3400  45591.55  19.9607
2023-07-03 08:00:00  20.3500  20.3600  20.0600  20.1500  84611.72  19.9842
2023-07-03 09:00:00  20.1400  20.2200  20.0800  20.1100  37127.67  20.0084
2023-07-03 10:00:00  20.1000  20.1400  20.1000  20.1300   3382.25  20.0324

[44269 rows x 6 columns]

In [11]:
df["MA 200"]=df["close"].rolling(200).mean()
df

,open,high,low,close,volume,Ma 100,MA 200
date,,,,,,,
2018-06-12 02:00:00,16.2000,16.3000,15.3600,15.5300,22867.56,NaN,NaN
2018-06-12 03:00:00,15.5288,16.7999,15.0386,15.2300,48398.68,NaN,NaN
2018-06-12 04:00:00,15.2300,15.7515,15.2000,15.6002,31377.59,NaN,NaN
2018-06-12 05:00:00,15.6002,16.3000,15.6002,16.1502,50812.82,NaN,NaN
2018-06-12 06:00:00,16.2498,16.3000,15.5068,15.6833,48870.17,NaN,NaN
...,...,...,...,...,...,...,...
2023-07-03 06:00:00,20.2700,20.3100,20.1100,20.1800,54281.30,19.9350,19.14905
2023-07-03 07:00:00,20.1700,20.4400,20.1300,20.3400,45591.55,19.9607,19.15460
2023-07-03 08:00:00,20.3500,20.3600,20.0600,20.1500,84611.72,19.9842,19.16060
2023-07-03 09:00:00,20.1400,20.2200,20.0800,20.1100,37127.67,20.0084,19.16600
2023-07-03 10:00:00,20.1000,20.1400,20.1000,20.1300,3382.25,20.0324,19.17245

In [12]:
df["buy signal"]=False
df["sell signal"]=False
df.loc[df["Ma 100"] > df["MA 200"], "buy signal"]= True
df.loc[df["Ma 100"] < df["MA 200"], "sell signal"]= True
df

,open,high,low,close,volume,Ma 100,MA 200,buy signal,sell signal
date,,,,,,,,,
2018-06-12 02:00:00,16.2000,16.3000,15.3600,15.5300,22867.56,NaN,NaN,False,False
2018-06-12 03:00:00,15.5288,16.7999,15.0386,15.2300,48398.68,NaN,NaN,False,False
2018-06-12 04:00:00,15.2300,15.7515,15.2000,15.6002,31377.59,NaN,NaN,False,False
2018-06-12 05:00:00,15.6002,16.3000,15.6002,16.1502,50812.82,NaN,NaN,False,False
2018-06-12 06:00:00,16.2498,16.3000,15.5068,15.6833,48870.17,NaN,NaN,False,False
...,...,...,...,...,...,...,...,...,...
2023-07-03 06:00:00,20.2700,20.3100,20.1100,20.1800,54281.30,19.9350,19.14905,True,False
2023-07-03 07:00:00,20.1700,20.4400,20.1300,20.3400,45591.55,19.9607,19.15460,True,False
2023-07-03 08:00:00,20.3500,20.3600,20.0600,20.1500,84611.72,19.9842,19.16060,True,False
2023-07-03 09:00:00,20.1400,20.2200,20.0800,20.1100,37127.67,20.0084,19.16600,True,False
2023-07-03 10:00:00,20.1000,20.1400,20.1000,20.1300,3382.25,20.0324,19.17245,True,False

In [13]:
df["sell signal"].value_counts()

sell signal
True     23704
False    20565
Name: count, dtype: int64

In [14]:
df["buy signal"].value_counts()

buy signal
False    23905
True     20364
Name: count, dtype: int64

In [19]:
balance=100000
position=None
for index, row in df.iterrows():
    if position is None and row["buy signal"] is True:
        buy_price=row["close"]
        position_seize=1000 
        position={
            "buy_price":buy_price,
            "position_seize":position_seize,
            
        }
        print(f"{index}-buy for{position_seize}$ price of {buy_price}$")
        
    elif position is not None and row ["sell signal"] is True:
        sell_price=row["close"]
        trade_result=(sell_price-position["buy_price"])/ position["buy_price"]
        balance=balance+trade_result*position["position_seize"]
        print(f"{index} -sell for {balance}$ at the price of {sell_price}$ ({trade_result*100}%)")
        position = None

2018-06-20 09:00:00-buy for1000$ price of 15.2686$
2018-06-25 15:00:00 -sell for 100031.50256081107$ at the price of 15.7496$ (3.1502560811076323%)
2018-06-30 11:00:00-buy for1000$ price of 16.1812$
2018-07-12 07:00:00 -sell for 100011.6338242526$ at the price of 15.8597$ (-1.9868736558475288%)
2018-07-17 19:00:00-buy for1000$ price of 17.9899$
2018-07-22 10:00:00 -sell for 99921.95572709809$ at the price of 16.3766$ (-8.967809715451441%)
2018-07-27 18:00:00-buy for1000$ price of 17.1359$
2018-08-01 14:00:00 -sell for 99860.58748848792$ at the price of 16.0843$ (-6.136823861016932%)
2018-08-06 21:00:00-buy for1000$ price of 18.0697$
2018-08-10 23:00:00 -sell for 99649.58232514818$ at the price of 14.2569$ (-21.100516333973452%)
2018-08-18 17:00:00-buy for1000$ price of 12.9144$
2018-08-22 15:00:00 -sell for 99624.70312053937$ at the price of 12.5931$ (-2.487920460880883%)
2018-08-28 21:00:00-buy for1000$ price of 13.2213$
2018-09-07 09:00:00 -sell for 99516.68046013532$ at the price of 11.7931$ (-10.802266040404488%)
2018-09-16 23:00:00-buy for1000$ price of 11.2048$
2018-09-18 09:00:00 -sell for 99441.73043871592$ at the price of 10.365$ (-7.495002141939172%)
2018-09-22 18:00:00-buy for1000$ price of 11.493$
2018-09-27 11:00:00 -sell for 99400.40963474828$ at the price of 11.0181$ (-4.1320803967632465%)
2018-09-30 09:00:00-buy for1000$ price of 11.3048$
2018-10-04 05:00:00 -sell for 99386.30942952572$ at the price of 11.1454$ (-1.4100205222560307%)
2018-10-18 08:00:00-buy for1000$ price of 9.9922$
2018-10-22 00:00:00 -sell for 99364.7926464349$ at the price of 9.7772$ (-2.151678309081082%)
2018-10-24 05:00:00-buy for1000$ price of 10.0003$
2018-10-27 04:00:00 -sell for 99340.06338831264$ at the price of 9.753$ (-2.4729258122256255%)
2018-11-05 13:00:00-buy for1000$ price of 9.4392$
2018-11-12 00:00:00 -sell for 99332.8276056192$ at the price of 9.3709$ (-0.7235782693448484%)
2018-12-01 17:00:00-buy for1000$ price of 4.8992$
2018-12-05 16:00:00 -sell for 99175.29168138668$ at the price of 4.1274$ (-15.753592423252789%)
2018-12-13 16:00:00-buy for1000$ price of 3.862$
2018-12-15 09:00:00 -sell for 99089.84372695892$ at the price of 3.532$ (-8.544795442775765%)
2018-12-19 06:00:00-buy for1000$ price of 4.2078$
2019-01-07 07:00:00 -sell for 99337.0037630823$ at the price of 5.2478$ (24.71600361233899%)
2019-01-20 04:00:00-buy for1000$ price of 4.3831$
2019-01-23 16:00:00 -sell for 99320.73673746116$ at the price of 4.3118$ (-1.626702562113571%)
2019-02-10 03:00:00-buy for1000$ price of 4.0311$
2019-02-26 10:00:00 -sell for 99376.90006756957$ at the price of 4.2575$ (5.6163330108407115%)
2019-03-08 14:00:00-buy for1000$ price of 4.308$
2019-03-13 01:00:00 -sell for 99367.47574073577$ at the price of 4.2674$ (-0.9424326833797476%)
2019-03-16 01:00:00-buy for1000$ price of 4.48$
2019-03-27 22:00:00 -sell for 99433.83734787862$ at the price of 4.7773$ (6.636160714285712%)
2019-03-30 23:00:00-buy for1000$ price of 4.7843$
2019-04-13 17:00:00 -sell for 99750.18456690753$ at the price of 6.2978$ (31.634721902890696%)
2019-05-01 03:00:00-buy for1000$ price of 5.9038$
2019-05-07 19:00:00 -sell for 99711.92107559684$ at the price of 5.6779$ (-3.826349131068129%)
2019-05-12 09:00:00-buy for1000$ price of 6.0575$
2019-05-23 12:00:00 -sell for 99837.10473222086$ at the price of 6.8158$ (12.518365662401983%)
2019-05-27 19:00:00-buy for1000$ price of 7.8562$
2019-06-06 23:00:00 -sell for 99847.44051796969$ at the price of 7.9374$ (1.0335785748835307%)
2019-06-12 02:00:00-buy for1000$ price of 8.3113$
2019-06-21 15:00:00 -sell for 99879.89031523366$ at the price of 8.581$ (3.244979726396596%)
2019-06-22 17:00:00-buy for1000$ price of 9.1662$
2019-06-28 10:00:00 -sell for 99752.72747785285$ at the price of 8.0006$ (-12.716283738081207%)
2019-07-08 04:00:00-buy for1000$ price of 7.8841$
2019-07-11 02:00:00 -sell for 99668.73564619166$ at the price of 7.2219$ (-8.399183166119155%)
2019-07-21 12:00:00-buy for1000$ price of 6.1562$
2019-07-26 21:00:00 -sell for 99676.82505199395$ at the price of 6.206$ (0.8089405802280675%)
2019-08-05 10:00:00-buy for1000$ price of 6.2741$
2019-08-09 21:00:00 -sell for 99604.97410922925$ at the price of 5.8233$ (-7.1850942764699335%)
2019-08-21 15:00:00-buy for1000$ price of 5.9396$
2019-08-29 21:00:00 -sell for 99610.84992578256$ at the price of 5.9745$ (0.5875816553303166%)
2019-09-04 14:00:00-buy for1000$ price of 6.6876$
2019-09-09 22:00:00 -sell for 99603.22387159272$ at the price of 6.6366$ (-0.7626054189843914%)
2019-09-18 19:00:00-buy for1000$ price of 6.4077$
2019-09-21 20:00:00 -sell for 99554.3139663225$ at the price of 6.0943$ (-4.8909905270221845%)
2019-10-04 13:00:00-buy for1000$ price of 4.6104$
2019-10-05 03:00:00 -sell for 99551.14721289546$ at the price of 4.5958$ (-0.3166753427034663%)
2019-10-09 16:00:00-buy for1000$ price of 5.1163$
2019-10-15 05:00:00 -sell for 99476.71842646778$ at the price of 4.7355$ (-7.442878642769185%)
2019-10-27 18:00:00-buy for1000$ price of 4.8456$
2019-11-12 00:00:00 -sell for 99487.36726252524$ at the price of 4.8972$ (1.0648836057454112%)
2019-11-29 22:00:00-buy for1000$ price of 4.0646$
2019-12-03 22:00:00 -sell for 99430.55970458596$ at the price of 3.8337$ (-5.680755793928075%)
2019-12-09 04:00:00-buy for1000$ price of 3.91$
2019-12-12 08:00:00 -sell for 99386.74896289798$ at the price of 3.7387$ (-4.381074168797954%)
2019-12-16 11:00:00-buy for1000$ price of 3.8189$
2019-12-17 10:00:00 -sell for 99350.24630506457$ at the price of 3.6795$ (-3.6502657833407572%)
2019-12-21 21:00:00-buy for1000$ price of 4.1194$
2020-01-03 16:00:00 -sell for 99436.44817912391$ at the price of 4.4745$ (8.620187405932908%)
2020-01-05 19:00:00-buy for1000$ price of 4.9421$
2020-01-24 06:00:00 -sell for 100090.54259242999$ at the price of 8.1747$ (65.40944133060844%)
2020-01-27 21:00:00-buy for1000$ price of 10.5395$
2020-02-04 15:00:00 -sell for 100180.06296815939$ at the price of 11.483$ (8.952037572939894%)
2020-02-06 12:00:00-buy for1000$ price of 12.6436$
2020-02-10 12:00:00 -sell for 100128.59819546806$ at the price of 11.9929$ (-5.146477269132199%)
2020-02-13 03:00:00-buy for1000$ price of 12.2063$
2020-02-13 05:00:00 -sell for 100129.1634773307$ at the price of 12.2132$ (0.05652818626446922%)
2020-02-13 06:00:00-buy for1000$ price of 12.818$
2020-02-13 08:00:00 -sell for 100055.12696617452$ at the price of 11.869$ (-7.40365111561866%)
2020-02-13 21:00:00-buy for1000$ price of 11.8495$
2020-02-16 07:00:00 -sell for 99926.46330948014$ at the price of 10.3249$ (-12.866365669437538%)
2020-02-24 18:00:00-buy for1000$ price of 9.1869$
2020-02-26 11:00:00 -sell for 99831.54554614321$ at the price of 8.3149$ (-9.49177633369254%)
2020-03-04 17:00:00-buy for1000$ price of 7.8175$
2020-03-08 15:00:00 -sell for 99702.04122890625$ at the price of 6.8051$ (-12.950431723696829%)
2020-03-20 12:00:00-buy for1000$ price of 5.2215$
2020-03-29 21:00:00 -sell for 99631.88897380714$ at the price of 4.8552$ (-7.015225509910943%)
2020-04-02 22:00:00-buy for1000$ price of 5.1247$
2020-04-13 04:00:00 -sell for 99624.6690389817$ at the price of 5.0877$ (-0.7219934825453183%)
2020-04-18 03:00:00-buy for1000$ price of 5.4887$
2020-04-23 06:00:00 -sell for 99591.40068764167$ at the price of 5.3061$ (-3.326835134002585%)
2020-04-25 14:00:00-buy for1000$ price of 5.7515$
2020-05-10 01:00:00 -sell for 99679.06477527098$ at the price of 6.2557$ (8.766408762931409%)
2020-05-17 05:00:00-buy for1000$ price of 6.6363$
2020-05-22 07:00:00 -sell for 99633.42187184587$ at the price of 6.3334$ (-4.564290342510136%)
2020-05-26 02:00:00-buy for1000$ price of 6.7385$
2020-06-04 12:00:00 -sell for 99660.03016746062$ at the price of 6.9178$ (2.6608295614750994%)
2020-06-22 11:00:00-buy for1000$ price of 6.3255$
2020-06-26 15:00:00 -sell for 99615.78070101528$ at the price of 6.0456$ (-4.424946644534023%)
2020-07-07 07:00:00-buy for1000$ price of 6.0214$
2020-07-15 08:00:00 -sell for 99652.76545539133$ at the price of 6.2441$ (3.698475437605882%)
2020-07-23 01:00:00-buy for1000$ price of 6.3727$
2020-08-05 13:00:00 -sell for 99789.48929301118$ at the price of 7.244$ (13.672383761984714%)
2020-08-16 10:00:00-buy for1000$ price of 7.1369$
2020-08-22 00:00:00 -sell for 99711.26205149175$ at the price of 6.5786$ (-7.8227241519427215%)

2020-09-01 11:00:00-buy for1000$ price of 6.6518$
2020-09-03 16:00:00 -sell for 99563.97860941592$ at the price of 5.6721$ (-14.7283442075829%)
2020-09-12 19:00:00-buy for1000$ price of 5.224$
2020-09-17 02:00:00 -sell for 99542.59652672066$ at the price of 5.1123$ (-2.138208269525266%)
2020-09-18 10:00:00-buy for1000$ price of 5.1728$
2020-09-19 10:00:00 -sell for 99542.84784128917$ at the price of 5.1741$ (0.025131456851231887%)
2020-09-20 05:00:00-buy for1000$ price of 5.1707$
2020-09-21 19:00:00 -sell for 99478.48518246155$ at the price of 4.8379$ (-6.436265882762483%)
2020-09-27 05:00:00-buy for1000$ price of 5.6507$
2020-10-03 12:00:00 -sell for 99384.08979781893$ at the price of 5.1173$ (-9.439538464261057%)
2020-10-09 19:00:00-buy for1000$ price of 5.25$
2020-10-17 02:00:00 -sell for 99375.70884543798$ at the price of 5.206$ (-0.8380952380952303%)
2020-10-22 19:00:00-buy for1000$ price of 5.6835$
2020-10-29 09:00:00 -sell for 99313.352902797$ at the price of 5.3291$ (-6.235594264097828%)
2020-11-08 06:00:00-buy for1000$ price of 5.1335$
2020-11-12 14:00:00 -sell for 99291.43802990326$ at the price of 5.021$ (-2.1914872893737183%)
2020-11-17 04:00:00-buy for1000$ price of 5.6376$
2020-11-29 07:00:00 -sell for 99409.32507403551$ at the price of 6.3022$ (11.788704413225487%)
2020-12-03 18:00:00-buy for1000$ price of 6.5034$
2020-12-05 06:00:00 -sell for 99346.77317810415$ at the price of 6.0966$ (-6.255189593135905%)
2020-12-15 08:00:00-buy for1000$ price of 6.0031$
2020-12-23 12:00:00 -sell for 99242.41043218954$ at the price of 5.3766$ (-10.43627459146108%)
2020-12-29 14:00:00-buy for1000$ price of 5.6394$
2021-01-01 16:00:00 -sell for 99263.2814468365$ at the price of 5.7571$ (2.087101464694828%)
2021-01-03 21:00:00-buy for1000$ price of 6.4127$
2021-01-14 20:00:00 -sell for 99455.96159716319$ at the price of 7.6483$ (19.268015032669545%)
2021-01-18 05:00:00-buy for1000$ price of 7.5834$
2021-01-22 15:00:00 -sell for 99423.82561594104$ at the price of 7.3397$ (-3.2135981222143166%)
2021-01-31 19:00:00-buy for1000$ price of 7.4247$
2021-02-23 11:00:00 -sell for 99835.34392644516$ at the price of 10.4801$ (41.15183105041282%)
2021-03-05 01:00:00-buy for1000$ price of 10.4959$
2021-03-18 13:00:00 -sell for 100009.62150149827$ at the price of 12.3251$ (17.427757505311597%)
2021-03-30 05:00:00-buy for1000$ price of 12.6492$
2021-04-23 08:00:00 -sell for 101303.42664332542$ at the price of 29.0148$ (129.38051418271513%)
2021-04-29 06:00:00-buy for1000$ price of 34.636$
2021-05-13 05:00:00 -sell for 102996.54940576912$ at the price of 93.279$ (169.31227624437%)
2021-05-27 06:00:00-buy for1000$ price of 75.562$
2021-05-31 14:00:00 -sell for 102878.43448027747$ at the price of 66.637$ (-11.811492549164921%)
2021-06-05 00:00:00-buy for1000$ price of 67.143$
2021-06-06 11:00:00 -sell for 102824.57927571407$ at the price of 63.527$ (-5.385520456339455%)
2021-06-17 11:00:00-buy for1000$ price of 56.247$
2021-06-18 15:00:00 -sell for 102749.49971591533$ at the price of 52.024$ (-7.507955979874481%)
2021-06-29 07:00:00-buy for1000$ price of 47.845$
2021-07-08 07:00:00 -sell for 102775.10322725403$ at the price of 49.07$ (2.560351133869791%)
2021-07-23 21:00:00-buy for1000$ price of 44.355$
2021-08-20 15:00:00 -sell for 103338.76008668363$ at the price of 69.356$ (56.36568594296021%)
2021-08-23 20:00:00-buy for1000$ price of 67.912$
2021-08-26 04:00:00 -sell for 103251.94185132021$ at the price of 62.016$ (-8.681823536341158%)
2021-08-31 18:00:00-buy for1000$ price of 63.75$
2021-09-08 19:00:00 -sell for 103162.53008661432$ at the price of 58.05$ (-8.941176470588239%)
2021-09-17 21:00:00-buy for1000$ price of 56.75$
2021-09-20 08:00:00 -sell for 103084.64462405926$ at the price of 52.33$ (-7.788546255506611%)
2021-10-02 06:00:00-buy for1000$ price of 53.42$
2021-10-13 10:00:00 -sell for 103054.88049077585$ at the price of 51.83$ (-2.976413328341452%)
2021-10-17 14:00:00-buy for1000$ price of 53.83$
2021-10-20 05:00:00 -sell for 103028.68691841842$ at the price of 52.42$ (-2.619357235742145%)
2021-10-22 05:00:00-buy for1000$ price of 56.75$
2021-10-27 13:00:00 -sell for 102896.52832811004$ at the price of 49.25$ (-13.215859030837004%)
2021-11-02 00:00:00-buy for1000$ price of 53.38$
2021-11-07 05:00:00 -sell for 102886.22484365894$ at the price of 52.83$ (-1.0303484451105362%)
2021-11-09 10:00:00-buy for1000$ price of 60.73$
2021-11-14 16:00:00 -sell for 102790.06149770143$ at the price of 54.89$ (-9.616334595751683%)
2021-12-02 19:00:00-buy for1000$ price of 47.29$
2021-12-04 07:00:00 -sell for 102546.45819890677$ at the price of 35.77$ (-24.36032987946711%)
2021-12-23 15:00:00-buy for1000$ price of 36.06$
2021-12-29 22:00:00 -sell for 102507.63401698774$ at the price of 34.66$ (-3.8824181919024%)
2022-01-05 18:00:00-buy for1000$ price of 34.19$
2022-01-05 21:00:00 -sell for 102453.81711145981$ at the price of 32.35$ (-5.381690552793204%)
2022-01-14 17:00:00-buy for1000$ price of 32.06$
2022-01-20 19:00:00 -sell for 102442.90008089213$ at the price of 31.71$ (-1.0917030567685633%)
2022-01-29 17:00:00-buy for1000$ price of 25.16$
2022-02-15 04:00:00 -sell for 102729.06860235476$ at the price of 32.36$ (28.61685214626391%)
2022-02-27 11:00:00-buy for1000$ price of 28.98$
2022-03-06 07:00:00 -sell for 102673.85811236166$ at the price of 27.38$ (-5.5210489993098735%)
2022-03-18 13:00:00-buy for1000$ price of 26.76$
2022-04-03 02:00:00 -sell for 103369.29906901337$ at the price of 45.37$ (69.54409566517188%)
2022-05-07 03:00:00-buy for1000$ price of 27.35$
2022-05-09 09:00:00 -sell for 103320.30455347407$ at the price of 26.01$ (-4.89945155393053%)
2022-05-18 16:00:00-buy for1000$ price of 20.36$
2022-05-21 00:00:00 -sell for 103308.02557508506$ at the price of 20.11$ (-1.2278978388998036%)
2022-05-24 04:00:00-buy for1000$ price of 21.98$
2022-06-03 21:00:00 -sell for 103312.5751656219$ at the price of 22.08$ (0.45495905368515865%)
2022-06-21 05:00:00-buy for1000$ price of 16.53$
2022-06-30 13:00:00 -sell for 103169.19948504114$ at the price of 14.16$ (-14.337568058076231%)
2022-07-07 00:00:00-buy for1000$ price of 15.23$
2022-07-12 14:00:00 -sell for 103103.53960322893$ at the price of 14.23$ (-6.5659881812212735%)
2022-07-17 08:00:00-buy for1000$ price of 19.49$
2022-08-04 10:00:00 -sell for 103915.75099368558$ at the price of 35.32$ (81.22113904566446%)
2022-08-08 01:00:00-buy for1000$ price of 37.04$
2022-08-18 06:00:00 -sell for 104009.70347748688$ at the price of 40.52$ (9.395248380129601%)
2022-08-26 16:00:00-buy for1000$ price of 35.11$
2022-08-29 15:00:00 -sell for 103942.48616048318$ at the price of 32.75$ (-6.721731700370263%)
2022-09-05 17:00:00-buy for1000$ price of 35.82$
2022-09-15 10:00:00 -sell for 103992.73741676459$ at the price of 37.62$ (5.025125628140695%)
2022-10-06 18:00:00-buy for1000$ price of 27.93$
2022-10-10 04:00:00 -sell for 103960.1559631305$ at the price of 27.02$ (-3.258145363408522%)
2022-10-25 21:00:00-buy for1000$ price of 25.01$
2022-11-02 07:00:00 -sell for 103907.77691474985$ at the price of 23.7$ (-5.237904838064783%)
2022-11-06 06:00:00-buy for1000$ price of 26.07$
2022-11-09 15:00:00 -sell for 103698.34078126308$ at the price of 20.61$ (-20.943613348676642%)
2022-11-25 16:00:00-buy for1000$ price of 19.86$
2022-11-30 15:00:00 -sell for 103700.85840462662$ at the price of 19.91$ (0.251762336354485%)
2022-12-03 11:00:00-buy for1000$ price of 19.56$
2022-12-04 13:00:00 -sell for 103689.61096086384$ at the price of 19.34$ (-1.1247443762781129%)
2022-12-04 21:00:00-buy for1000$ price of 19.49$
2022-12-04 23:00:00 -sell for 103689.61096086384$ at the price of 19.49$ (0.0%)
2022-12-24 09:00:00-buy for1000$ price of 16.36$
2022-12-28 05:00:00 -sell for 103624.81878482472$ at the price of 15.3$ (-6.479217603911973%)
2023-01-03 06:00:00-buy for1000$ price of 16.1$
2023-01-20 03:00:00 -sell for 103913.63866060112$ at the price of 20.75$ (28.88198757763974%)
2023-01-23 13:00:00-buy for1000$ price of 22.75$
2023-01-27 20:00:00 -sell for 103878.03426499672$ at the price of 21.94$ (-3.5604395604395553%)
2023-01-31 17:00:00-buy for1000$ price of 21.81$
2023-02-09 04:00:00 -sell for 103886.2873599073$ at the price of 21.99$ (0.8253094910591459%)
2023-02-17 12:00:00-buy for1000$ price of 21.81$
2023-02-24 21:00:00 -sell for 103846.39740117278$ at the price of 20.94$ (-3.9889958734525335%)
2023-03-15 00:00:00-buy for1000$ price of 20.21$

2023-03-24 14:00:00 -sell for 103843.42857385958$ at the price of 20.15$ (-0.29688273132113935%)
2023-03-31 20:00:00-buy for1000$ price of 20.69$
2023-04-09 00:00:00 -sell for 103829.41214080012$ at the price of 20.4$ (-1.4016433059449138%)
2023-04-12 16:00:00-buy for1000$ price of 22.24$
2023-04-19 09:00:00 -sell for 103743.5308458361$ at the price of 20.33$ (-8.588129496402878%)
2023-04-29 15:00:00-buy for1000$ price of 19.88$
2023-05-02 07:00:00 -sell for 103705.8044876872$ at the price of 19.13$ (-3.7726358148893366%)
2023-05-18 05:00:00-buy for1000$ price of 18.56$
2023-05-22 05:00:00 -sell for 103669.70534975617$ at the price of 17.89$ (-3.6099137931034386%)
2023-05-29 15:00:00-buy for1000$ price of 18.28$
2023-06-02 18:00:00 -sell for 103660.40556857456$ at the price of 18.11$ (-0.9299781181619348%)
2023-06-18 05:00:00-buy for1000$ price of 15.34$

In [20]:
print(balance)

103660.40556857456